// Color variables
$yellow: #F7E353;
$black_pearl: #101C26;
$oslo_gray: #79838B;
$gray: #B5BDC5;
$gray_min: #F1F1F1;
$fade: #F7F7F7;
$white: #FFFFFF;
$red: #EB000E;
$mustard: #E2C700;
$green: #00C744;
$blue: #289DFE;
$black: #000000;

// .z-neg-1 {
//     z-index: -1;
// }